<div moi-navbar></div>
<!-- title card w/ topic title and desciption -->
<div class="w3-card-2 w3-section w3-light-green w3-container w3-leftbar w3-border-black">
  <div>
    <h1>{{ topic.title }}</h1>
    <p>{{ topic.description }}</p>
  </div>
  <p>
    <button 
      ng-click="showNewResource = !showNewResource" 
      class="w3-btn">
      <span>{{ showNewResource ? '-' : '+' }}</span> 
      New Resource
    </button>
    <a 
      class="w3-btn" 
      href="/#/topics">
      All Topics
    </a>
    <a 
      class="w3-btn" 
      href="/#/topics/{{topic._id}}">
      Back to Topic
    </a>
  </p>
</div>

<!-- new resource form -->
<section 
  ng-show="showNewResource" 
  class="w3-card-2 
        w3-container 
        w3-section 
        w3-leftbar 
        w3-border-amber">
  <h3>New Resource</h3>
  <form ng-submit="createResource()" class="w3-form">
    <input 
      ng-model="newResource.type" 
      type="hidden" 
      name="type" 
      value="topic">
    <input 
      ng-model="newResource.title" 
      name="text" 
      class="w3-input w3-center" 
      placeholder="Title">
    <textarea 
      ng-model="newResource.url" 
      name="url" 
      class="w3-input w3-center" 
      placeholder="URL">
    </textarea>
    <input class="w3-btn w3-right" type="submit">
  </form>
</section>

<!-- resources --> 
<div class="w3-row-padding">
  <div 
    class="w3-third" 
    ng-repeat="(resource_type, resource_list) in resources">
    <div class="w3-section" ng-repeat=" resource in resource_list">
      <moi-resource-show resource="resource"></moi-resource-show>
    </div>    
  </div>    
</div>

