<div class="w3-row w3-section">
  <div class="w3-half">
    <h1>{{pageTitle}}</h1>
  </div>
  <div class="w3-half w3-container">
    <p  ng-if="userName" class="w3-right">
      <a class="w3-btn w3-hover-purple" href="/#/topics/new">Add New Topic</a>
      <a class="w3-btn w3-hover-purple" href="/#/logout">Logout</a>
    </p>
    <p ng-if="!userName" class="w3-right">
      <a class="w3-btn w3-hover-purple" href="/#/login">Login</a>
    </p>

    <p ng-if="userName" class="w3-left">
      Hi, {{userName}}.
    </p>
  </div>  
</div>