<ul class="w3-navbar w3-black w3-center">
  <li class="w3-hide-small" style="width:10%">&nbsp;</li>
  <li style="width:10%"><a href="/#/">About </a></li>
  <li style="width:10%"><a href="/#/">FAQ </a></li>
  <li style="width:10%"><a href="/#/">Blog </a></li>
  <li style="width:10%"><a href="/#/">Jobs </a></li>
  <li style="width:10%"><a href="/#/">Advertise </a></li>
  <li style="width:10%"><a href="/#/">Guidelines </a></li>
  <li style="width:10%"><a href="/#/">Terms </a></li>
  <li style="width:10%"><a href="/#/">Privacy </a></li>
  <li class="w3-hide-small" style="width:10%">&nbsp;</li>
</ul>