<!-- <div class="w3-row w3-section">
  <div class="w3-half">
    <h1>Topic</h1>
  </div>
  <div class="w3-half w3-container">

    <p class="w3-right">
      <a class="w3-btn w3-hover-purple" href="/#/topics/new">Add New Topic</a>
      <a class="w3-btn w3-hover-purple" href="/#/logout">Logout</a>
    </p>
    <p class="w3-left">
      Hi, {{userName}}.
    </p>
  </div>  
</div> -->

<div slv-navbar></div>


<div class="w3-row">
  
</div>

<!-- <h1>{{ topic.title }}</h1> -->
<p>{{ topic.description }}</p>
<a href="/#/topics">Back to all topics</a>
